﻿@model List<ConsoleJeu>




@foreach (var console in Model)
{
    <div>
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <a asp-action="Modifier" asp-controller="Console" asp-route-id=@console.Id class="btn btn-dark mt-2">Modifier</a>
        }        
        <h1>@console.Nom</h1>
        <img class="img-fluid" src="~/images/@console.UrlImage">
        <h2>@console.Prix</h2>
        <p>@console.Compagnie</p>
        <p>@console.Stockage</p>
    </div>
    <section class="section"></section>
<ul>
    <li class="row">
            @foreach (var jeu in console.Jeux)
            {
                <div class="col-sm-4">
                    <div class="card mb-5">
                        <img class="card-img-top" src="~/images/@jeu.UrlImage" width="430" height="440">
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title text-center">@jeu.Nom</h5>
                                <p class="card-text text-center">@jeu.Prix</p>
                                @if (ViewContext.HttpContext.User.IsInRole("Utilisateur"))
                                {
                                    <a class="btn btn-danger mt-2" asp-controller="Panier" asp-action="AjouterAuPanier" asp-route-id="@jeu.Id">Ajouter au panier</a>
                                }

                                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                {
                                    <a asp-action="Supprimer" asp-route-id="@jeu.Id" class="btn btn-dark">Supprimer</a>
                                }

                            </div>
                            <div class="text-center">
                                <a asp-controller=Jeu asp-action="Details" asp-route-id="@jeu.Id" class="btn btn-dark mt-2">Voir plus</a>
                                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                {
                                    <a asp-action="Modifier" asp-controller="Jeu" asp-route-id=@jeu.Id class="btn btn-dark mt-2">Modifier</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
    </li>
</ul>
        
}