﻿@model ConsoleJeu

@{
    ViewData["Title"] = "Modifier une console";
}

<h1>@ViewData["titre"]</h1>

<h4>Console</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Modifier">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>