﻿@model int

@if (Model > 0)
{
    <li class="nav-link px-2 link-dark">
        <a asp-controller="Panier" asp-action="AfficherPanier" class="text-decoration-none">
            <img src="~/svg/cart-fill.svg" />
            @Model
        </a>
    </li>
}
