html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-label {
    margin-top: 5px; /* Adjust as needed */
    text-align: center;
}
.button.is-full-width {
    display: flex;
    width: 100%;
}



.btn-danger {
    color: #fff;
    background-color: #e81e25;
    border-color: #e81e25;
}

section {
    display: block
}

section.section {
    padding: 2em 0 3em;
}

.lol {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: #efefef;
    z-index: 0
}